h1{
    text-align: center;
    font-size: 50px;
    font-family: garamond;
    margin-bottom: 0px;
}

body{
    background-color: tan;
    margin: 0px;
}

p#subheading{
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
    font-family: garamond;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}

.active{
    background-color: #0070b7;
}

img, iframe{
    display: block;
    margin: auto;
}

p#image{
    float: left;
    border: 5px;
}

a#textlink{
    color: #444b54;
}

p#description{
    margin: 15px;
}